[submodule "bootdoc-phobos/phobos"]
	path = bootdoc-phobos/phobos
	url = https://github.com/D-Programming-Language/phobos.git
[submodule "bootdoc-phobos/bootDoc"]
	path = bootdoc-phobos/bootDoc
	url = https://github.com/JakobOvrum/bootDoc.git
